@charset "UTF-8";
@font-face {
    font-family: 'Serling';
    src: url('fontes/serling/SerlingGalleria_PERSONAL_USE_ONLY.otf');
}
@font-face {
    font-family: 'Vogue';
    src: url('fontes/Vogue/Vogue.ttf');
}
:root {
    --lilas: #8b80f9;
    --roxo: #cfbff7;
    --rose: #CFB1B7;
    --cinza: #4e4c67;
}
*{
    margin: 0;
    padding: 0;
}

nav > h1 {
    font-family: 'Serling', serif;
}
header {
    width: 100%;
    height: 500px;
    background-color: var(--rose) ;
    box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.337);
}
.content {
    max-width: 1000px;
    min-width: 300px;
    margin: 0 auto;
}
nav {
    width: 100%;
    height: 125px;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
}
nav > #LOGO {
    font-size: 2em;
    font-weight: bold;
    color: #4e4c67;

}
li {
    display: inline-block;
    text-decoration: none;
    color: white;
    padding: 10px;
}
li > a {
    text-decoration: none;
    color: white;
    font-size: 1.5em;
    padding: 10px;
    
    
}
li a:hover {
    color: var(--lilas);
    background-color: var(--cinza);
    border-radius: 5px;
    transition: 0.3s;
}
nav button {
    border: 1px solid var(--cinza);
    background-color: transparent;
    padding: 10px 30px;
    color: white;
    font-size: 1.3em;
    font-weight: ;
}
nav button:hover {
    background-color: #4e4c67;
    border-radius: 5px;
    transition: 0.3s;
    color: #8b80f9;
}
.content .header-block {
    max-width: 1000px;
    min-width: 300px;
    height: 450px;
    background-color: #8b80f9;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.515);
    position: relative;
    z-index: 10;
    
}
.header-block img {
   width: 50%;
   max-height: 95%;
   position: absolute;
   right: 2%;
   bottom: 2%;
   border-radius: 10px;
   box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.41);
  
}
.header-block h1, p {
    max-width: 40%;
    color: white;
    
}
.header-block h1 {
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 2.3em;
    text-align: center;
    font-family: 'Vogue', serif;
}
.header-block p {
    text-align: center;
    font-family: ;
    font-size: min(22px, 4.5vw );
    font-weight: lighter;
    text-align: start ;
    
}
/*catalog */

section .catalogo {
    width: 100vw;
    padding: 100px;

}
section .filtro-festas {
    width: 100%;
    height: 150px;
    background-color: #cfbff76c;
    border-radius: 8px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.search-input {
    width: 700px;
    height: 30px;
    border: none;
    border-radius: 9px 0px 0px 9px;
    text-indent: 10px;
    box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.514);
}
.botao-pesquisa {
    width: 150px;
    height: 30px;
    border: none;
    border-radius: 0px 9px 9px 0px;
    background-color: #4e4c67;
    color: white;
    cursor: pointer;
    box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.514);
    font-size: 1.1em;
    transition: 0.3s ease;
}
.botao-pesquisa:hover{
    background-color:  #cfbff76c;
    color: #4e4c67;
    box-shadow: none;
    
}
.titulo-wrapper-catalogo {
    margin-top: 200px;
    padding-bottom: 20px;


}
section .card-wrapper {
    max-width: 1000px;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
    grid-gap: 30px;
    padding-top: 50px;
}
section .item-cartao{
    height: 400px;
    background-color: #cfb1b7b5;
    align-items: center;
    justify-content: space-around;
    display: flex;
    flex-direction: column;
}
.conteudo-cartao {
    height: 40%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.item-cartao img {
    width: 100%;

}
.item-cartao h3 {
    width: 90%;
}
.item-cartao p {
    width: 90%;
    font-style: italic;
    color: black;
}

